@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
:root {
  --main-color: #ff4500;
  --black: #13131a;
  --bg: #010103;
  --border: .1rem solid rgba(255, 255, 255, .3);
  --text-primary: #fff;
  --lower-color: #999;
  --general-font-size: 1.6rem; }

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: .2s linear;
  line-height: 1.5; }

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth; }

html::-webkit-scrollbar {
  width: .8rem; }

html::-webkit-scrollbar-track {
  background: transparent; }

html::-webkit-scrollbar-thumb {
  background: var(--text-primary);
  border-radius: 5rem; }

body {
  background: #fff; }

section {
  padding: 2rem 4%; }

.heading {
  text-align: center;
  color: var(--text-primary);
  text-transform: uppercase;
  padding-bottom: 3.5rem;
  font-size: 4rem; }

.heading span {
  color: var(--main-color);
  text-transform: uppercase; }

.btn {
  display: inline-block;
  padding: .9rem 3rem;
  font-size: 1.7rem;
  color: var(--text-primary);
  cursor: pointer; }

.header-btn {
  margin-top: 1rem; }

.primary-btn {
  background: var(--main-color); }

.secondary-btn {
  outline: 1px solid var(--text-primary);
  outline-offset: -1px;
  margin-left: 1rem; }

.btn:hover {
  opacity: 0.6; }

.main_section_main--heading {
  margin-top: 4rem; }
  .main_section_main--heading h4 {
    font-size: 2.2rem;
    color: var(--lower-color);
    text-transform: uppercase;
    text-align: center; }

.main_section_top--discription {
  padding: 2rem 0; }
  .main_section_top--discription p {
    font-size: 1.8rem;
    text-transform: capitalize;
    text-align: center; }

.padding-bottom-util {
  padding-bottom: 7rem; }

.hover-underline-animation {
  display: inline-block;
  position: relative; }

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ff4500;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out; }

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom center; }

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem 4%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; }

nav .mainMenu {
  display: flex;
  list-style: none; }

nav .mainMenu li a {
  display: inline-block;
  padding: 5px 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 1.6rem;
  transition: 0.2s ease; }

nav .mainMenu li a:hover {
  color: #ff4500; }

nav .openMenu {
  font-size: 2.4rem;
  margin: 20px;
  display: none;
  cursor: pointer;
  color: #fff; }

nav .mainMenu .closeMenu,
.icons i {
  font-size: 2.4rem;
  display: none;
  cursor: pointer;
  color: #fff; }

nav .logo {
  margin: 6px;
  cursor: pointer;
  text-transform: uppercase;
  color: #fff; }

.header .logo img {
  height: 6rem; }

.header .navbar a {
  margin: 0 1rem;
  font-size: 1.6rem;
  color: var(--text-primary);
  text-transform: uppercase; }

.header .navbar a:hover {
  color: var(--main-color);
  border-bottom: 0.1rem solid var(--main-color);
  padding-bottom: .5rem; }

.header .icons div {
  color: var(--text-primary);
  cursor: pointer;
  font-size: 2.5rem;
  margin-left: 2rem; }

.header .icons div:hover {
  color: var(--main-color); }

#menu-btn {
  display: none; }

.fa-regular {
  height: 4rem;
  width: 5rem; }

.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.823), rgba(0, 0, 0, 0.6)), url(/images/header1.jpg);
  background-size: cover;
  background-position: center; }

.home .content {
  max-width: 80rem; }

.home .content h3 {
  font-size: 4rem;
  text-transform: uppercase;
  color: var(--text-primary); }

.home .content p {
  font-size: 2rem;
  font-weight: lighter;
  line-height: 1.8;
  padding: 1rem 0;
  color: #eee;
  text-transform: capitalize; }

.content-card-top {
  background-color: #fff;
  height: 100%;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px; }
  .content-card-top h4 {
    font-size: 1.8rem;
    padding: 1rem 0;
    text-transform: capitalize; }
  .content-card-top p {
    font-size: 1.6rem;
    line-height: 2rem; }
  .content-card-top .fa-solid {
    display: flex;
    font-size: 2.2rem;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    border: 1px solid #444;
    justify-content: center;
    align-items: center; }

.about_section {
  background-color: #fae5d3; }
  .about_section_intro--paragraph {
    margin-top: 4rem; }
    .about_section_intro--paragraph p {
      font-size: var(--general-font-size); }
  .about_section_text_with--icons {
    padding: 2rem 0;
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center; }
    .about_section_text_with--icons img {
      height: 7rem;
      width: 7rem; }
    .about_section_text_with--icons .inner-text-icon p {
      font-size: 1.4rem; }
    .about_section_text_with--icons .inner-text-icon h5 {
      font-size: 1.5rem;
      text-transform: capitalize;
      padding-bottom: 5px; }
  .about_section_about--image img {
    width: 100%; }

.service_section .inner_card_section {
  padding-left: 12rem;
  padding-right: 12rem; }

.service_section_content-cards {
  background-color: #fff;
  height: 100%;
  padding: 3rem;
  border-radius: 5px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px; }
  .service_section_content-cards h4 {
    font-size: 1.8rem;
    padding: 1rem 0;
    text-transform: capitalize; }
  .service_section_content-cards p {
    font-size: var(--general-font-size);
    line-height: 2rem; }

.why_us {
  background-image: linear-gradient(rgba(0, 35, 175, 0.823), rgba(0, 35, 175, 0.823)), url(/images/why-work.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }
  .why_us .why-us-util {
    padding: 20rem 0; }
  .why_us_content--inner {
    text-align: center;
    color: #fff; }
    .why_us_content--inner h2 {
      font-size: 2.6rem;
      font-weight: 600;
      text-transform: uppercase;
      padding-bottom: 1rem; }
    .why_us_content--inner p {
      font-size: var(--general-font-size); }

.card {
  position: relative;
  text-align: center;
  background: #fff;
  border-radius: 5px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; }

.pic-container {
  width: 11rem;
  height: 11rem;
  border-radius: 100%;
  margin: 4rem auto 2rem; }

.pic {
  width: 10rem;
  height: 10rem;
  border-radius: 100%;
  margin: auto;
  position: relative;
  top: 5px;
  border: 2px solid #999;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  object-fit: fill; }

.name {
  color: #999;
  font-size: 1.4rem;
  text-transform: capitalize; }

.title {
  font-size: 1.7rem;
  padding: 5px; }

.links {
  margin: 4.2rem 0; }

a {
  text-decoration: none;
  color: #fff; }

.team_social_icons {
  background: #002fff;
  display: inline-block;
  border-radius: 100%;
  width: 3rem;
  height: 3rem;
  line-height: 5rem;
  margin: 0px 2px 1.5rem 2px;
  font-size: 1.5rem;
  transition: all 1s; }

.team_social_icons:hover {
  background-color: #ff0000; }

.fab {
  display: flex;
  justify-content: center;
  padding-top: 7.5px; }

.footer_section {
  background-color: #0E0AFF; }
  .footer_section .foot-util {
    padding: 5rem 0; }
  .footer_section_footer--logo img {
    height: 8rem;
    height: 8rem; }
  .footer_section_links h4 {
    font-size: 1.8rem;
    color: #999;
    text-transform: uppercase; }
  .footer_section_links ul {
    list-style: none; }
    .footer_section_links ul li {
      font-size: var(--general-font-size);
      padding: 6px 0;
      text-transform: capitalize; }
    .footer_section_links ul a:hover {
      color: #999; }
  .footer_section_copyright {
    text-align: center; }
    .footer_section_copyright p {
      font-size: var(--general-font-size);
      color: #fff; }

/* media queries  */
@media (max-width: 991px) {
  html {
    font-size: 55%; }
  .service_section .inner_card_section {
    padding-left: 4rem;
    padding-right: 4rem; } }

@media (max-width: 768px) {
  nav .mainMenu {
    height: 100vh;
    font-size: 3.3rem;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #0E0AFF;
    transition: top 1s ease 0s;
    display: none; }
  nav .mainMenu .closeMenu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px; }
  nav .openMenu {
    display: block; }
  nav .mainMenu li a:hover {
    background: none;
    color: #ff7b00; }
  .icons i {
    display: inline-block;
    padding: 12px; }
  .home {
    background-position: left;
    justify-content: center;
    text-align: center; }
  .home .content h3 {
    font-size: 4.5rem; }
  .home .content p {
    font-size: 1.5rem; }
  .service_section .inner_card_section {
    padding-left: 2rem;
    padding-right: 2rem; } }

@media (max-width: 450px) {
  html {
    font-size: 50%; }
  .service_section .inner_card_section {
    padding: 0; }
  .why_us_content--inner {
    text-align: left; } }

.row {
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap; }

.row.reverse {
  flex-direction: row-reverse; }

.row.natural-height {
  align-items: flex-start; }

.row.flex-column {
  flex-direction: column; }

.col {
  box-sizing: border-box;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  padding: 1rem; }

.col.reverse {
  flex-direction: column-reverse; }

.first {
  order: -1; }

.last {
  order: 1; }

.align-start {
  align-self: flex-start; }

.align-end {
  align-self: flex-end; }

.align-center {
  align-self: center; }

.align-baseline {
  align-self: baseline; }

.align-stretch {
  align-self: stretch; }

.col-xs {
  box-sizing: border-box;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  padding: 1rem; }

.col-xs-1 {
  box-sizing: border-box;
  flex-basis: 8.33333%;
  max-width: 8.33333%;
  padding: 1rem; }

.col-xs-offset-1 {
  margin-left: 8.33333%; }

.col-xs-2 {
  box-sizing: border-box;
  flex-basis: 16.66667%;
  max-width: 16.66667%;
  padding: 1rem; }

.col-xs-offset-2 {
  margin-left: 16.66667%; }

.col-xs-3 {
  box-sizing: border-box;
  flex-basis: 25%;
  max-width: 25%;
  padding: 1rem; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-4 {
  box-sizing: border-box;
  flex-basis: 33.33333%;
  max-width: 33.33333%;
  padding: 1rem; }

.col-xs-offset-4 {
  margin-left: 33.33333%; }

.col-xs-5 {
  box-sizing: border-box;
  flex-basis: 41.66667%;
  max-width: 41.66667%;
  padding: 1rem; }

.col-xs-offset-5 {
  margin-left: 41.66667%; }

.col-xs-6 {
  box-sizing: border-box;
  flex-basis: 50%;
  max-width: 50%;
  padding: 1rem; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-7 {
  box-sizing: border-box;
  flex-basis: 58.33333%;
  max-width: 58.33333%;
  padding: 1rem; }

.col-xs-offset-7 {
  margin-left: 58.33333%; }

.col-xs-8 {
  box-sizing: border-box;
  flex-basis: 66.66667%;
  max-width: 66.66667%;
  padding: 1rem; }

.col-xs-offset-8 {
  margin-left: 66.66667%; }

.col-xs-9 {
  box-sizing: border-box;
  flex-basis: 75%;
  max-width: 75%;
  padding: 1rem; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-10 {
  box-sizing: border-box;
  flex-basis: 83.33333%;
  max-width: 83.33333%;
  padding: 1rem; }

.col-xs-offset-10 {
  margin-left: 83.33333%; }

.col-xs-11 {
  box-sizing: border-box;
  flex-basis: 91.66667%;
  max-width: 91.66667%;
  padding: 1rem; }

.col-xs-offset-11 {
  margin-left: 91.66667%; }

.col-xs-12 {
  box-sizing: border-box;
  flex-basis: 100%;
  max-width: 100%;
  padding: 1rem; }

.col-xs-offset-12 {
  margin-left: 100%; }

.row.start-xs {
  justify-content: flex-start; }

.row.center-xs {
  justify-content: center; }

.row.end-xs {
  justify-content: flex-end; }

.row.top-xs {
  align-items: flex-start; }

.row.middle-xs {
  align-items: center; }

.row.bottom-xs {
  align-items: flex-end; }

.row.around-xs {
  justify-content: space-around; }

.row.between-xs {
  justify-content: space-between; }

.first-xs {
  order: -1; }

.last-xs {
  order: 1; }

@media only screen and (min-width: 320px) {
  .col-sm {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1rem; }
  .col-sm-1 {
    box-sizing: border-box;
    flex-basis: 8.33333%;
    max-width: 8.33333%;
    padding: 1rem; }
  .col-sm-offset-1 {
    margin-left: 8.33333%; }
  .col-sm-2 {
    box-sizing: border-box;
    flex-basis: 16.66667%;
    max-width: 16.66667%;
    padding: 1rem; }
  .col-sm-offset-2 {
    margin-left: 16.66667%; }
  .col-sm-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1rem; }
  .col-sm-offset-3 {
    margin-left: 25%; }
  .col-sm-4 {
    box-sizing: border-box;
    flex-basis: 33.33333%;
    max-width: 33.33333%;
    padding: 1rem; }
  .col-sm-offset-4 {
    margin-left: 33.33333%; }
  .col-sm-5 {
    box-sizing: border-box;
    flex-basis: 41.66667%;
    max-width: 41.66667%;
    padding: 1rem; }
  .col-sm-offset-5 {
    margin-left: 41.66667%; }
  .col-sm-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1rem; }
  .col-sm-offset-6 {
    margin-left: 50%; }
  .col-sm-7 {
    box-sizing: border-box;
    flex-basis: 58.33333%;
    max-width: 58.33333%;
    padding: 1rem; }
  .col-sm-offset-7 {
    margin-left: 58.33333%; }
  .col-sm-8 {
    box-sizing: border-box;
    flex-basis: 66.66667%;
    max-width: 66.66667%;
    padding: 1rem; }
  .col-sm-offset-8 {
    margin-left: 66.66667%; }
  .col-sm-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1rem; }
  .col-sm-offset-9 {
    margin-left: 75%; }
  .col-sm-10 {
    box-sizing: border-box;
    flex-basis: 83.33333%;
    max-width: 83.33333%;
    padding: 1rem; }
  .col-sm-offset-10 {
    margin-left: 83.33333%; }
  .col-sm-11 {
    box-sizing: border-box;
    flex-basis: 91.66667%;
    max-width: 91.66667%;
    padding: 1rem; }
  .col-sm-offset-11 {
    margin-left: 91.66667%; }
  .col-sm-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1rem; }
  .col-sm-offset-12 {
    margin-left: 100%; }
  .row.start-sm {
    justify-content: flex-start; }
  .row.center-sm {
    justify-content: center; }
  .row.end-sm {
    justify-content: flex-end; }
  .row.top-sm {
    align-items: flex-start; }
  .row.middle-sm {
    align-items: center; }
  .row.bottom-sm {
    align-items: flex-end; }
  .row.around-sm {
    justify-content: space-around; }
  .row.between-sm {
    justify-content: space-between; }
  .first-sm {
    order: -1; }
  .last-sm {
    order: 1; } }

@media only screen and (min-width: 576px) {
  .col-md {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1rem; }
  .col-md-1 {
    box-sizing: border-box;
    flex-basis: 8.33333%;
    max-width: 8.33333%;
    padding: 1rem; }
  .col-md-offset-1 {
    margin-left: 8.33333%; }
  .col-md-2 {
    box-sizing: border-box;
    flex-basis: 16.66667%;
    max-width: 16.66667%;
    padding: 1rem; }
  .col-md-offset-2 {
    margin-left: 16.66667%; }
  .col-md-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1rem; }
  .col-md-offset-3 {
    margin-left: 25%; }
  .col-md-4 {
    box-sizing: border-box;
    flex-basis: 33.33333%;
    max-width: 33.33333%;
    padding: 1rem; }
  .col-md-offset-4 {
    margin-left: 33.33333%; }
  .col-md-5 {
    box-sizing: border-box;
    flex-basis: 41.66667%;
    max-width: 41.66667%;
    padding: 1rem; }
  .col-md-offset-5 {
    margin-left: 41.66667%; }
  .col-md-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1rem; }
  .col-md-offset-6 {
    margin-left: 50%; }
  .col-md-7 {
    box-sizing: border-box;
    flex-basis: 58.33333%;
    max-width: 58.33333%;
    padding: 1rem; }
  .col-md-offset-7 {
    margin-left: 58.33333%; }
  .col-md-8 {
    box-sizing: border-box;
    flex-basis: 66.66667%;
    max-width: 66.66667%;
    padding: 1rem; }
  .col-md-offset-8 {
    margin-left: 66.66667%; }
  .col-md-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1rem; }
  .col-md-offset-9 {
    margin-left: 75%; }
  .col-md-10 {
    box-sizing: border-box;
    flex-basis: 83.33333%;
    max-width: 83.33333%;
    padding: 1rem; }
  .col-md-offset-10 {
    margin-left: 83.33333%; }
  .col-md-11 {
    box-sizing: border-box;
    flex-basis: 91.66667%;
    max-width: 91.66667%;
    padding: 1rem; }
  .col-md-offset-11 {
    margin-left: 91.66667%; }
  .col-md-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1rem; }
  .col-md-offset-12 {
    margin-left: 100%; }
  .row.start-md {
    justify-content: flex-start; }
  .row.center-md {
    justify-content: center; }
  .row.end-md {
    justify-content: flex-end; }
  .row.top-md {
    align-items: flex-start; }
  .row.middle-md {
    align-items: center; }
  .row.bottom-md {
    align-items: flex-end; }
  .row.around-md {
    justify-content: space-around; }
  .row.between-md {
    justify-content: space-between; }
  .first-md {
    order: -1; }
  .last-md {
    order: 1; } }

@media only screen and (min-width: 900px) {
  .col-lg {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1rem; }
  .col-lg-1 {
    box-sizing: border-box;
    flex-basis: 8.33333%;
    max-width: 8.33333%;
    padding: 1rem; }
  .col-lg-offset-1 {
    margin-left: 8.33333%; }
  .col-lg-2 {
    box-sizing: border-box;
    flex-basis: 16.66667%;
    max-width: 16.66667%;
    padding: 1rem; }
  .col-lg-offset-2 {
    margin-left: 16.66667%; }
  .col-lg-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1rem; }
  .col-lg-offset-3 {
    margin-left: 25%; }
  .col-lg-4 {
    box-sizing: border-box;
    flex-basis: 33.33333%;
    max-width: 33.33333%;
    padding: 1rem; }
  .col-lg-offset-4 {
    margin-left: 33.33333%; }
  .col-lg-5 {
    box-sizing: border-box;
    flex-basis: 41.66667%;
    max-width: 41.66667%;
    padding: 1rem; }
  .col-lg-offset-5 {
    margin-left: 41.66667%; }
  .col-lg-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1rem; }
  .col-lg-offset-6 {
    margin-left: 50%; }
  .col-lg-7 {
    box-sizing: border-box;
    flex-basis: 58.33333%;
    max-width: 58.33333%;
    padding: 1rem; }
  .col-lg-offset-7 {
    margin-left: 58.33333%; }
  .col-lg-8 {
    box-sizing: border-box;
    flex-basis: 66.66667%;
    max-width: 66.66667%;
    padding: 1rem; }
  .col-lg-offset-8 {
    margin-left: 66.66667%; }
  .col-lg-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1rem; }
  .col-lg-offset-9 {
    margin-left: 75%; }
  .col-lg-10 {
    box-sizing: border-box;
    flex-basis: 83.33333%;
    max-width: 83.33333%;
    padding: 1rem; }
  .col-lg-offset-10 {
    margin-left: 83.33333%; }
  .col-lg-11 {
    box-sizing: border-box;
    flex-basis: 91.66667%;
    max-width: 91.66667%;
    padding: 1rem; }
  .col-lg-offset-11 {
    margin-left: 91.66667%; }
  .col-lg-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1rem; }
  .col-lg-offset-12 {
    margin-left: 100%; }
  .row.start-lg {
    justify-content: flex-start; }
  .row.center-lg {
    justify-content: center; }
  .row.end-lg {
    justify-content: flex-end; }
  .row.top-lg {
    align-items: flex-start; }
  .row.middle-lg {
    align-items: center; }
  .row.bottom-lg {
    align-items: flex-end; }
  .row.around-lg {
    justify-content: space-around; }
  .row.between-lg {
    justify-content: space-between; }
  .first-lg {
    order: -1; }
  .last-lg {
    order: 1; } }

@media only screen and (min-width: 1200px) {
  .col-xl {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1rem; }
  .col-xl-1 {
    box-sizing: border-box;
    flex-basis: 8.33333%;
    max-width: 8.33333%;
    padding: 1rem; }
  .col-xl-offset-1 {
    margin-left: 8.33333%; }
  .col-xl-2 {
    box-sizing: border-box;
    flex-basis: 16.66667%;
    max-width: 16.66667%;
    padding: 1rem; }
  .col-xl-offset-2 {
    margin-left: 16.66667%; }
  .col-xl-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1rem; }
  .col-xl-offset-3 {
    margin-left: 25%; }
  .col-xl-4 {
    box-sizing: border-box;
    flex-basis: 33.33333%;
    max-width: 33.33333%;
    padding: 1rem; }
  .col-xl-offset-4 {
    margin-left: 33.33333%; }
  .col-xl-5 {
    box-sizing: border-box;
    flex-basis: 41.66667%;
    max-width: 41.66667%;
    padding: 1rem; }
  .col-xl-offset-5 {
    margin-left: 41.66667%; }
  .col-xl-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1rem; }
  .col-xl-offset-6 {
    margin-left: 50%; }
  .col-xl-7 {
    box-sizing: border-box;
    flex-basis: 58.33333%;
    max-width: 58.33333%;
    padding: 1rem; }
  .col-xl-offset-7 {
    margin-left: 58.33333%; }
  .col-xl-8 {
    box-sizing: border-box;
    flex-basis: 66.66667%;
    max-width: 66.66667%;
    padding: 1rem; }
  .col-xl-offset-8 {
    margin-left: 66.66667%; }
  .col-xl-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1rem; }
  .col-xl-offset-9 {
    margin-left: 75%; }
  .col-xl-10 {
    box-sizing: border-box;
    flex-basis: 83.33333%;
    max-width: 83.33333%;
    padding: 1rem; }
  .col-xl-offset-10 {
    margin-left: 83.33333%; }
  .col-xl-11 {
    box-sizing: border-box;
    flex-basis: 91.66667%;
    max-width: 91.66667%;
    padding: 1rem; }
  .col-xl-offset-11 {
    margin-left: 91.66667%; }
  .col-xl-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1rem; }
  .col-xl-offset-12 {
    margin-left: 100%; }
  .row.start-xl {
    justify-content: flex-start; }
  .row.center-xl {
    justify-content: center; }
  .row.end-xl {
    justify-content: flex-end; }
  .row.top-xl {
    align-items: flex-start; }
  .row.middle-xl {
    align-items: center; }
  .row.bottom-xl {
    align-items: flex-end; }
  .row.around-xl {
    justify-content: space-around; }
  .row.between-xl {
    justify-content: space-between; }
  .first-xl {
    order: -1; }
  .last-xl {
    order: 1; } }

.col-gutter-lr {
  padding: 0 1rem; }

.col-no-gutter {
  padding: 0; }

.show {
  display: block !important; }

.row.show {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important; }

.hide {
  display: none !important; }

.show-xs {
  display: block !important; }

.row.show-xs {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important; }

.hide-xs {
  display: none !important; }

@media only screen and (max-width: 319px) {
  .show-xs-only {
    display: block !important; }
  .row.show-xs-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important; }
  .hide-xs-only {
    display: none !important; } }

@media only screen and (min-width: 320px) {
  .show-sm {
    display: block !important; }
  .row.show-sm {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important; }
  .hide-sm {
    display: none !important; } }

@media only screen and (min-width: 320px) and (max-width: 575px) {
  .show-sm-only {
    display: block !important; }
  .row.show-sm-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important; }
  .hide-sm-only {
    display: none !important; } }

@media only screen and (min-width: 576px) {
  .show-md {
    display: block !important; }
  .row.show-md {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important; }
  .hide-md {
    display: none !important; } }

@media only screen and (min-width: 576px) and (max-width: 899px) {
  .show-md-only {
    display: block !important; }
  .row.show-md-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important; }
  .hide-md-only {
    display: none !important; } }

@media only screen and (min-width: 900px) {
  .show-lg {
    display: block !important; }
  .row.show-lg {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important; }
  .hide-lg {
    display: none !important; } }

@media only screen and (min-width: 900px) and (max-width: 1199px) {
  .show-lg-only {
    display: block !important; }
  .row.show-lg-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important; }
  .hide-lg-only {
    display: none !important; } }

@media only screen and (min-width: 1200px) {
  .show-xl {
    display: block !important; }
  .row.show-xl {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important; }
  .hide-xl {
    display: none !important; } }
