.home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: linear-gradient( rgba(0, 0, 0, 0.823), rgba(0, 0, 0, 0.6)), url(/images/header1.jpg);
    background-size: cover;
    background-position: center;
}

.home .content {
    max-width: 80rem;
}

.home .content h3 {
    font-size: 4rem;
    text-transform: uppercase;
    color: var(--text-primary);
}

.home .content p {
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.8;
    padding: 1rem 0;
    color: #eee;
    text-transform: capitalize;
}