.nav-header {
    height: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
    position: relative;
    background-color: #000;
}

.nav-list-link {
    display: flex;
    gap: 2.5rem;
    list-style: none;
}


/***********mobile**************/

.mobile-nav-bar {
    border: none;
    background: none;
    cursor: pointer;
    display: none;
}

.mobile-nav-icon {
    color: #ffffff;
    height: 4rem;
    width: 4rem;
}

.mobile-nav-icon[name="close-outline"] {
    display: none;
}


/*********sticky nav*************/

.sticky {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 6rem;
    background-color: aqua;
    z-index: 9999;
    padding-top: 0;
    padding-bottom: 0;
}

.main-nav-link:link,
.main-nav-link:visited {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.8rem;
    font-weight: 600;
    transition: all 0.3s;
    display: inline-block;
    text-transform: capitalize;
}

.main-nav-link:hover,
.main-nav-link:active {
    color: #f7f;
}

.header-section {
    height: 100vh;
}

image {
    width: 100%;
}

@media (max-width: 54rem) {
    .mobile-nav-bar {
        display: block;
    }
    .nav-bar {
        position: absolute;
        background-color: #ae0b0b;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
        transition: all 0.6s;
    }
    .nav-open .nav-bar {
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
    }
    .nav-open .mobile-nav-icon[name="close-outline"] {
        display: block;
    }
    .nav-open .mobile-nav-icon[name="reorder-two-outline"] {
        display: none;
    }
    .nav-list-link {
        flex-direction: column;
        gap: 4rem;
    }
    .main-nav-link:link,
    .main-nav-link:visited {
        font-size: 3.8rem;
    }
}