.team_section {
    padding: 12rem;
}

.card {
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    max-width: 30rem;
    margin: auto;
    text-align: center;
    padding-bottom: 2rem;
    height: 100%;
    img {
        height: 20rem;
        width: 20rem;
        object-fit: cover;
    }
    h1 {
        text-transform: capitalize;
    }
    .title {
        color: grey;
        font-size: 18px;
        text-transform: capitalize;
    }
}